.home-page {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.category-list {
  align-items: flex-start;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  width: 20%;
}

.category-list > *:first-child {
  font-weight: 400;
  margin-top: 0;
}

.category-item {
  margin: 5px 0;
}

.category-item > input {
  margin-right: 10px;
}

.search-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.search-section > *:first-child {
  align-items: center;
  display: flex;
  width: 90%;
}

.search-input {
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-right: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
  width: 100%;
}

.home-initial-message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
