.card-product img {
  height: 100px;
  width: 80px;
}

/* .card-product {
  width: 220px;
} */

.card-product {
  height: 150px;
  width: 100%;
}

.home-container {
  height: 80vh;
}

.category {
  width: max-content;
}

.product-list {
  flex-basis: 80%;
}

.cart-element .name {
  vertical-align: middle;
  width: 400px;
}

/* .cart-element h5 {
  width: 40%;
} */