.carQtd {
  position: relative;
  top: 70px;
}

.total-products {
  background-color: blue;
  border-radius: 50%;
  left: 35px;
  padding: 2px;
  position: absolute;
  top: 30px;
  width: 19px;
  z-index: 2;
}

.btn-primary {
  position: absolute;
  z-index: 1;
}
