@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap') ;

body {
  color: #3f3b3b;
  font-family: Open Sans , sans-serif;
}

.categories {
  background-color: white;
  display: flex;
  flex-direction: row;
}

.products {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}

.product {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 15px 15px;
  width: 205px;
}

.categoriesList {
  margin-top: 15px;
  width: 320px;
}

.img-products {
  height: 180px;
  width: 200px;
}

.img-logo {
  height: 50px;
  margin: 10px;
  width: 120px;
}

header {
  align-items: center;
  background-color: #0060b1;
  display: flex;
  flex-direction: row;
  height: 120px;
  justify-content: space-between;
}

.icon-cart {
  margin: 20px;
}

.pesquisa {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.categorie {
  color: #3f3b3b;
  padding: 3px;
}

.input-search {
  background-color: white;
  border: solid 2px rgb(255, 101, 0);
  border-radius: 10px 0 0 10px;
  height: 32px;
  width: 300px;
}

.btn-search {
  background: rgb(255, 101, 0);
  border: none;
  border-radius: 0 7px 7px 0;
  color: white;
  float: right;
  font-weight: 700;
  height: 38px;
  width: 80px;
}

.btn-search:hover {
  background-color: rgb(255, 81, 1);
}

.img-cart {
  margin: 15px;
  width: 50px;
}

.card-product {
  width: 205px;

}

.title-product {
  color: #3f3b3b;
}

a {
  text-decoration: none;
}

.price-product {
  color: rgb(255, 101, 0);
  font-size: 25px;
  font-weight: 700;
}

.btn-addCart-product {
  background-color: rgb(255, 101, 0);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  width: 205px;
}

.btn-addCart-product:hover {
  background-color: rgb(255, 81, 1);
}

.img-cart-product {
  padding: 1px;
  width: 20px;
}

.text-btn-addCart {
  margin: 0;
  padding: 1px;
}

.item {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.img-product-detail {
  width: 300px;
}

.page-cart {
  display: flex;
  flex-flow: row wrap;
}

.cart-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width: 300px;
}

.btn-add-remove {
  display: flex;
  flex-direction: row;
  height: 20px;
  justify-content: space-between;
  width: 100px;
}

.btn-add-remove p {
  font-weight: 700;
  margin: 0;
}

.btn-add-remove button {
  background-color: rgb(255, 101, 0);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  width: 30px;
}

.content-cart {
  align-items: center;
  display: flex;
  flex-direction: column;
}

