/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap'); */

@import url('//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember') ;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap') ;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: Amazon Ember , Helvetica , sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.radio-sp {
  display: inline-block;
  margin-left: 5px;
}

.main-cols {
  display: flex;
  flex-direction: column;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  width: 80%;
}

.side-nav-categories {
  background-color: #ffd000c0;
  border-radius: 10px;
  height: 100%;
  padding: 5px;
  width: 260px;
}

.category-div {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.category-div span:hover {
  font-size: 1.1em;
  font-weight: 800;
}

.shopping-header, .shopping-footer {
  background-color: #282c34;
  color: rgb(207, 207, 207);
  display: block;
  height: fit-content;
  padding: 10px;
  text-align: center;
}

.shopping-header h1 {
  font-size: 2em;
}

.shopping-footer {
  bottom: 0;
  font-size: 0.7em;
  position: fixed;
  width: 100%;
}

.shopping-main {
  margin: auto;
}

.main-sec {
  margin: auto;
  margin-bottom: 60px;
  padding: 15px;
  position: relative;
  width: 90%;
}

.cart-banner {
  height: 40px;
  margin: 20px;
  text-align: right;
}

.initial-message {
  font-weight: 600;
}

.search-bar {
  flex-direction: row;
  padding: 5px 0;
  width: 500px;
}

.cartIcon {
  height: 30px;
}

.img-cart {
  height: 30px;
}

.search-button {
  background-color: #282c34;
  border-radius: 5px;
  color: rgb(212, 212, 212);
  height: 30px;
  margin: 0 10px;
  padding: 5px 10px;
}

.search-text {
  height: 20px;
  padding: 5px;
  width: 200px;
}

.display-flex {
  display: flex;
  margin: 20px 0;
}

.product-card {
  align-content: center;
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-items: center;
  padding: 10px;
  width: 230px;
}

.product-border {
  border: 1px solid rgba(255, 255, 255);
  border-radius: 5px;
  margin: 0 25px 25px 0;
}

.product-name-link {
  color: #3f3f3f;
  text-decoration: none;
}

.pc-title {
  font-weight: 600;
  height: 90px;
  padding-bottom: 5px;
  text-align: center;
}

.pc-img {
  align-self: center;
  height: 150px;
  justify-content: center;
  max-width: 230px;
}

.pc-price {
  font-size: 1.1em;
  margin: 10px 0;
}

.pc-id {
  color: #868686;
  font-size: 0.6em;
}

.product-border button {
  background-color: #282c34;
  border: #282c34 1px solid;
  border-radius: 5px;
  color: rgb(243, 243, 243);
  padding: 5px;
  width: 100%;
}

.main-sec-detail button {
  background-color: #282c34;
  border: #282c34 1px solid;
  border-radius: 5px;
  color: rgb(243, 243, 243);
  margin-top: 30px;
  padding: 5px;
}

.prod-cart-div button {
  background-color: #949494;
  border: 1px solid;
  border-radius: 3px;
  color: #f1f1f1;
  font-size: 1.1em;
  font-weight: 600;
  margin: 5px;
  padding: 1px 5px;
  width: 30px;
}

.product-border button:hover {
  background-color: rgb(5, 5, 5);
  border: rgb(5, 5, 5) 1px solid;
  color: rgb(255, 208, 0);
}

.main-sec-detail {
  margin: auto;
  margin-bottom: 30px;
  padding: 15px;
  position: relative;
  text-align: center;
  width: 60%;
}

.product-list-div {
  display: block;
}

.product-detail-name {
  font-size: 1.5em;
  font-weight: 900;
  margin: 20px 0 15px;
}

.product-detail-spec-title {
  color: #3d3d3f;
  display: inline-block;
  text-align: left;
  width: 220px;
}

.product-detail-p {
  margin-top: 5px;
}

.product-detail-spec-descr {
  color: #3d3d3f;
  display: inline-block;
  font-weight: 600;
  width: 100px;
}

.img-detail {
  margin-bottom: 15px;
  width: 200px;
}

.empty-cart-message {
  font-weight: 700;
  margin: 0 0 10px;
  text-align: center;
}

.mr-bean {
  margin-top: 30px;
  width: 350px;
}

.khabane {
  border-radius: 10px;
  margin: 20px;
  width: 250px;
}

.content-header {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.trybezon-header {
  display: inline-block;
  font-size: 1.5em;
  width: 130px;
}

.trybezon-header-logo {
  height: 45px;
}

.text-header {
  font-family: Lato , sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}

.cart-header-logo {
  height: 25px;
}

.cart-name {
  font-weight: 800;
}

.payments-footer {
  color: white;
  font-size: 1.1em;
  margin: 10px 0;
}

.payments-devs {
  color: #6e6e6e;
  margin: 10px 0;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.star-div {
  display: inline-block;
  margin: 10px 0;
}

.star-rate {
  display: none;
}

.form-eval {
  margin: 30px 0 0;
}

.form-eval input, .form-eval textarea {
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  width: 250px;
}

.form-eval p {
  color: #3d3d3f;
  font-size: 1.5em;
  margin: 50px 0 10px;
}

.cart {
  background-color: #f3f1f1;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  width: 70%;
}

.cart-title-h {
  margin: 10px 0 20px;
  text-align: center;
}

.prod-cart-div {
  margin: 15px 0;
}

.shopping-cart-product-name {
  font-size: 1.2em;
  font-weight: 600;
  margin: 10px 0 4px;
}

.shopping-cart-product-quantity {
  color: #3d3d3f;
  font-weight: 600;
}

.shopping-cart-product-qtd-text {
  color: rgb(109, 109, 109);
  display: inline-block;
  padding: 0 10 0 0;
}

.cart-prod-price {
  margin-bottom: 10px;
}

.div-shopping-cart-icon {
  display: inline-block;
}

.shopping-cart-button {
  position: absolute;
  z-index: 0;
}

.shopping-cart-size {
  color: #fb0;
  display: inline-block;
  font-size: 1em;
  font-weight: 800;
  margin-left: 18px;
  position: absolute;
  text-align: center;
  width: 20px;
  z-index: 1;
}

.cart-empty-khabane {
  margin: auto;
  text-align: center;
  width: 70%;
}

.fg {
  background-color: white;
  font-weight: 800;
  height: 20px;
  padding: 5px 0;
  text-align: center;
}

.nfg {
  background-color: white;
  color: #949494;
  font-size: 0.8em;
  font-weight: 300;
  height: 20px;
  padding: 5px 0;
  text-align: center;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

